<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;"">
    <link rel="stylesheet" href="css/jquery.mobile-1.1.1.min.css"/>


    <!-- Templates -->

    <!-- Home Page -->
    <script type="text/template" id="home">

        <div data-role="header">
            <h1>FLAIR</h1>
            <a href="#visualisation" data-icon="gear" class="ui-btn-right">Visualisation</a>
        </div>

        <div data-role="content">
            <% if (sites.length > 0) { %>
            <h3>Choose a site:</h3>
            <ul id="sites" data-role="listview">
                <% _.each(sites, function(site) { %>
                    <li><a href="#site/<%= site.id %>"><%= site.location.name %></a></li>
                <% }); %>
            </ul>
            <% } %>
            <br/>
            <a href="#" id="bootstrap" data-role="button">Load default sites</a>
        </div>

    </script>

    <!-- Visualisation Page -->
    <script type="text/template" id="visualisation">

        <div data-role="header">
            <a href="#" data-icon="back" class="ui-btn-left">Home</a>
            <h1>Visualisation</h1>
        </div>

        <div data-role="content">
            <p>This is the visualisation page</p>
        </div>

    </script>

    <!-- Site Page -->
    <script type="text/template" id="site">

        <div data-role="header">
            <a href="#" data-icon="back" class="ui-btn-left">Home</a>
            <h1><%= site.location.name %></h1>
        </div>

        <div data-role="content" id="site<%= site.id %>-content">
            <h2><%= site.location.name %></h2>
            <p>You need to complete the following experiments at this site:</p>
            <ul id="experiments" data-role="listview">
                <% _.each(site.experiments, function(experiment) { %>
                    <li>
                        <a href="#site/<%= site.id %>/experiment/<%= experiment.id %>">
                            <%= experiment.experimentType %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>

    </script>

    <!-- Experiment Page -->
    <script type="text/template" id="experiment">

        <div data-role="header">
            <a href="<%= previous %>" data-icon="back" class="ui-btn-left">Back</a>
            <h1><%= experiment.experimentType %></h1>
        </div>

        <div data-role="content" id="<%= pageId %>-content">
            <h3><%= experiment.experimentType %></h3>
            <p><%= experiment.help %></p>
            <div class="form">
                <!-- The View JS will put the form here -->
            </div>
            <a href="<%= next %>" data-role="button" class="next">Next</a>
        </div>

    </script>

    <!-- Scripts -->
    <!-- Libs -->
    <script src="lib/jquery-1.7.2.min.js"></script>
    <script src="app/jqm-config.js"></script>
    <script src="lib/jquery.mobile-1.1.1.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/backbone-relational.js"></script>
    <script src="lib/backbone-forms.min.js"></script>

    <!-- App -->

    <!-- Custom templates for backbone-forms -->
    <script src="app/templates/backbone-forms-jquery-mobile-templates.js"></script>

    <!-- Custom Backbone.sync -->
    <script src="app/custom-sync.js"></script>

    <!-- Models & Collections-->
    <script src="app/models/experiment.js"></script>
    <script src="app/collections/experiment.js"></script>
    <script src="app/models/site.js"></script>
    <script src="app/collections/exercise.js"></script>

    <!-- Views -->
    <script src="app/views/home.js"></script>
    <script src="app/views/visualisation.js"></script>
    <script src="app/views/site.js"></script>
    <script src="app/views/experiment.js"></script>

    <!-- Router -->
    <script src="app/router/router.js"></script>

    <!-- Bootstrap -->
    <script src="app/bootstrap.js"></script>

    <!-- Main entry point -->
    <script src="app/main.js"></script>
</head>

<body></body>

</html>