<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>FLAIR App: Jasmine Spec Runner</title>

    <link rel="shortcut icon" type="image/png" href="test/lib/jasmine-1.2.0/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="test/lib/jasmine-1.2.0/jasmine.css">
    <script type="text/javascript" src="test/lib/jasmine-1.2.0/jasmine.js"></script>
    <script type="text/javascript" src="test/lib/jasmine-1.2.0/jasmine-html.js"></script>
    <script type="text/javascript" src="test/lib/jasmine-jquery-1.3.1.js"></script>
    <script type="text/javascript" src="test/lib/sinon.js"></script>
    <script src="lib/jquery-1.7.2.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/backbone-relational.js"></script>
    <script src="lib/backbone-forms/backbone-forms.min.js"></script>
    <script src="lib/backbone-forms/editors/list.js"></script>
    <script src="app/templates/backbone-forms-jquery-mobile-templates.js"></script>

    <!-- Source files under test -->
    
    <!-- Templates -->
    <!-- Experiment Page -->
    <script type="text/template" id="experiment">

        <div data-role="header">
            <a href="<%= previous %>" data-icon="back" class="ui-btn-left">Back</a>
            <h1><%= experiment.experimentType %></h1>
        </div>

        <div data-role="content" id="<%= pageId %>-content">
            <h3><%= experiment.experimentType %></h3>
            <p><%= experiment.help %></p>
            <div class="form">
                <!-- The View JS will put the form here -->
            </div>
            <a href="<%= next %>" data-role="button" class="next">Next</a>
        </div>

    </script>

    <!-- Custom Backbone.sync -->
    <script src="app/custom-sync.js"></script>

    <!-- Models & Collections-->
    <script src="app/models/experiment.js"></script>
    <script src="app/collections/experiment.js"></script>
    <script src="app/models/site.js"></script>

    <!-- Views -->
    <script src="app/views/experiment.js"></script>

    <!-- Router -->
    <script src="app/router/router.js"></script>

    <!-- Specs -->
    <script type="text/javascript" src="test/specs/sitemodel.spec.js"></script>
    <script type="text/javascript" src="test/specs/experimentview.spec.js"></script>
    <script type="text/javascript" src="test/specs/router.spec.js"></script>

    <!-- Run the specs -->
    <script type="text/javascript">
        (function() {
          var jasmineEnv = jasmine.getEnv();
          jasmineEnv.updateInterval = 1000;

          var htmlReporter = new jasmine.HtmlReporter();

          jasmineEnv.addReporter(htmlReporter);

          jasmineEnv.specFilter = function(spec) {
            return htmlReporter.specFilter(spec);
          };

          var currentWindowOnload = window.onload;

          window.onload = function() {
            if (currentWindowOnload) {
              currentWindowOnload();
            }
            execJasmine();
          };

          function execJasmine() {
            jasmineEnv.execute();
          }

        })();
    </script>

</head>

<body>
</body>
</html>
